<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% _.forEach(JSON.parse(VUE_APP_CONFIG).styles, function(script) { %><link href="<%= script %>" rel="stylesheet">
    <% }); %>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app" class="w-100 h-100">
      <full>
        <router-view></router-view>
      </full>
    </div>
    <% _.forEach(JSON.parse(VUE_APP_CONFIG).before, function(script) { %><script src="<%= script %>"></script>
    <% }); %>
    <!-- built files will be auto injected -->

    <% _.forEach(JSON.parse(VUE_APP_CONFIG).scripts, function(script) { %><script src="<%= script %>" defer></script>
    <% }); %>
  </body>
</html>
